contourpy==1.3.3
cycler==0.12.1
diagrams @ file:///C:/Users/ASUS/Downloads/diagrams-0.24.1-py3-none-any.whl#sha256=c1e3267b018bdb66886a09214c7a7884796a0c28456f8aefdf38916a232c2362
et_xmlfile==2.0.0
fonttools==4.61.1
graphviz==0.20.3
gunicorn==26.0.0
Jinja2==3.1.5
joblib==1.5.3
kiwisolver==1.4.9
lxml==6.0.2
MarkupSafe==3.0.2
matplotlib==3.10.8
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.0
pillow==12.1.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
scikit-fuzzy==0.5.0
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.3
